# Ignore build folder
build
obj

# Ignore the iso folder and the built iso
iso
*.iso

# Ignore vscode ipch files
ipch

# Ignore DS_STORE
.DS_STORE

# Ignore hard drive image
hdd.img

# Ignore generated headers
include/kernel/console/bga_u_vga16_font.h

# Ignore sysroot
sysroot
sysroot.mtree