# Required for GUI and to prevent "No video mode set" error
insmod all_video

# Enable GUI
terminal_output gfxterm

# Enable Unicode
loadfont unicode

# Load support for png
insmod png

# Set the vimix theme
set theme=${prefix}/themes/vimix/theme.txt

# Add entry for myos
menuentry "myos" --class linux {
	multiboot2 /boot/myos-bootstrap.bin
	module2 /boot/myos-kernel.bin "KERNEL_BIN"
}